/* from https://www.materialui.co/colors 300s*/
:root {
    --c0 : e57373;
    --c1 : F06292;
    --c2 : BA68C8;
    --c3 : 9575CD;
    --c4 : 7986CB;
    --c5 : 64B5F6;
    --c6 : 4FC3F7;
    --c7 : 4DD0E1;
    --c8 : 4DB6AC;
    --c9 : 81C784;
    -c10 : AED581;
    -c11 : DCE775;
    -c12 : FFF176;
    -c13 : FFD54F;
    -c14 : FFB74D;
    -c15 : FF8A65;
    -c16 : A1887F;
    -c17 : E0E0E0;
    -c18 : 90A4AE;
}
html {
    height : 100%;
}
body {
    background-color: paleturquoise;
    height : 100%;
}
img {
    width : 480px;
}
span {
    border: 0px;
    margin:0px;
    padding:0px;
}
#SourceViewer {
    background-color: lightgrey;
    color: black;
    position: absolute;
    height : auto;
    left : 5px;
    width : 48%;
    border: 4px solid gray;
    float : left;
    font-size: 18px;
}
.lam1 {
    display: inline-block;
    background-color: pink;
    color: black;
}
.lam2 {
    display: inline-block;
    background-color: cornflowerblue;
    color: black;
    height: 50%;
}
.lamPanel-Container {
    position: absolute;
    left:50%;
}
.stream1 {
    background-color: lightsalmon;
    display: inline;
    padding-top: 4px;
    padding-bottom: 4px;
}
.lam1Panel {
    margin :6px;
    border: 4px solid gray;
    background-color: pink;
    left : 50%;
}
.stream1Panel {
    margin :6px;
    border: 4px solid gray;
    background-color: lightsalmon;
    left : 50%;
}
.submit-button {
    position: absolute;
    top: 0px;
    right: 0px;
}
