<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>input source</h1>
<form action="#" th:action="@{/sourceInput}" th:object="${sourceInput}" method="post" >
    <code><textarea th:field="*{source}" cols="999" rows="999" style="height: 500px;width: 90%;"></textarea> </code>
    <p><input type="submit" value="submit"></p>
</form>
<p>

<br>import java.util.function.*;
<br>import java.util.*;
<br>
<br>public class LambdaSource {
<br>void lambdaMethod1(Function&lt;Integer, String&gt; f) {
<br>}
<br>void lambdaMethod2() {
<br>Function&lt;Integer, String&gt; func1 = i -&gt; &quot;1&quot;;
<br>Function&lt;String, String&gt; func2 = (String s) -&gt; s;
<br>int i = 1;
<br>String a = &quot;a&quot;;
<br>lambdaMethod1(func1);
<br>}
<br>
<br>void test() {
<br>String str = &quot;a.b.c.d&quot;;
<br>List&lt;String&gt; l = Arrays.asList(str.split(&quot;.&quot;));
<br>l.stream().forEach(s-&gt;System.out.println(s));
<br>}
<br>void test(Function&lt;Integer, String&gt; lamda) {
<br>
<br>}
<br>public static void main(String[] args){
<br>LambdaSource l = new LambdaSource();
<br>l.lambdaMethod1(i-&gt;String.valueOf(i));
<br>}
<br>}
</p>

</body>
</html>
